@import './dark.css';
@import './light.css';

/* Reset global */
* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--md-sys-color-surface-container-lowest);
}

.container {
    display: flex;
    width: auto;
    height: 100%;
    padding: 0px 240px 0px 240px;
    flex-direction: column;
    gap: 10px;
}

input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.material-symbols-rounded {
    user-select: none;
    color: var(--md-sys-color-outline);
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
}

.material-symbols-rounded.fill {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

/* Dark theme quando ativado */
body.dark {
    color-scheme: dark;
}